body {
    background-color: #F9FAFC;
    font-family: 'Roboto', sans-serif;
}

.brand {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #23BBBB;
}

.light-bg {
    background-color: #fff;
}

.color-bg {
    background-color: #23BBBB;
}

.main-bg {
    background-color: #F9FAFC;
}

h1, h2, h3 {
    text-align: center;
}

.post-card {
    border: thick double #23BBBB;
    text-align: center;
}

.card {
    border: none;
    height: auto;
    background-color: transparent;
}

.card-text {
    text-align: center;
}

img {
    display: block;
    max-width:100%;
    max-height: 100%;
    width: auto;
    height: auto;
    
  }

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 20%;
    min-width: 30%;
    left: 0px;
    text-align: center;
    border: thick double #fff;
    border-radius: 20px;
    background-color: #23BBBB;
}

.author, .category {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    background-color: #23BBBB;
    color: white;
    text-align: center;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    max-width: 40vh;
    border: thick double #23BBBB;
}

.comments {
    border-radius: 10px;
    border: #23BBBB 1px solid;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #00008B;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.user-post-list {
    text-align: center;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
    margin: 10px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like, .btn-dislike {
    color: #00008B;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-dislike:hover,
.btn-like:active,
.btn-dislike:active {
    color: #00008B;
    background: transparent;
    border: none;
}

.page-link {
    margin: 10px;
    border-radius: 20px;
}

.footer-link {
    color: #fff;
}